// ------------------------------
// Animation
// ------------------------------

// For Intersection Observer
.animate {

  // Title --->
  &[data-animation="title"] {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 25);
    transition: ease .5s;
  
    &.animated {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  // Text --->
  &[data-animation="text"] {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 25);
    transition: ease .5s;
  
    &.animated {
      opacity: 1;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  // Fade --->
  &[data-animation="fade"] {
    opacity: 0;
    transition: ease 1s;
  
    &.animated {
      opacity: 1;
    }
  }
  
}

// Page Transition
.page-enter {
  opacity: 1;
}
.page-enter-active {
  transition: opacity .2s linear;
}

// Keyframes
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}